__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
Backend/.env
Backend/.venv/
Backend/venv/
Backend/env/
*.log


Frontend/node_modules/
Frontend/dist/
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local



